.center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.titleTxt {
    font-size: 30px;
    font-weight: bold;
    font-family: 'Original Surfer', cursive;
    text-align: center;
}

body {
    background-color: #03a6e1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background-image: url("../Assets/images/seaBG1.jpg");

    background-position: center 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    -webkit-background-size: cover;
    -o-background-size: cover;
    -moz-background-size: cover;
    -ms-background-size: cover;
}